@model ProjektiSentimentAnalysis.Models.Instituti

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instituti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstitutiId" />
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lokacioni" class="control-label"></label>
                <input asp-for="Lokacioni" class="form-control" />
                <span asp-validation-for="Lokacioni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NrStudenteve" class="control-label"></label>
                <input asp-for="NrStudenteve" class="form-control" />
                <span asp-validation-for="NrStudenteve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nrtelefonit" class="control-label"></label>
                <input asp-for="Nrtelefonit" class="form-control" />
                <span asp-validation-for="Nrtelefonit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
