@model ProjektiSentimentAnalysis.Models.Infk

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Infk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusiAkredititmit" class="control-label"></label>
                <input asp-for="StatusiAkredititmit" class="form-control" />
                <span asp-validation-for="StatusiAkredititmit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VitiAkreditimit" class="control-label"></label>
                <input asp-for="VitiAkreditimit" class="form-control" />
                <span asp-validation-for="VitiAkreditimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FakultetiId" class="control-label"></label>
                <select asp-for="FakultetiId" class ="form-control" asp-items="ViewBag.FakultetiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstitutiId" class="control-label"></label>
                <select asp-for="InstitutiId" class ="form-control" asp-items="ViewBag.InstitutiId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
